{
  "printWidth": 90,
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": false,
  "useTabs": false,
  "trailingComma": "all",
  "singleQuote": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"]
}
