#Add Uploadthing secret and appId to setup fileupload https://uploadthing.com/

UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_SECRET=secret123

# Go to github and setup the oauth configuration
# https://next-auth.js.org/providers/github#configuration
# https://github.com/settings/developers

GITHUB_ID =
GITHUB_SECRET =

PRISMATIC_CUSTOMER_ID="customer-1"
PRISMATIC_ORGANIZATION_ID="T3JnYW5pemF0aW9uOmI4MDg3NTk3LTNhMTktNDMzNC1hY2QzLTZiYzk3MmQ2ZTJkZA=="
PRISMATIC_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCyCy+8hIV63f4N
4JGZwJ/ux8+/0CdZ5HGLnf0MIjMO8hIGWBJV3RGFOLheVUt7PRgso0rc0gf6qv3g
pnprRjPM9fegGxB95jlLRhERUI0CkTjp19EWOnBmSMdF3MKrCueIrFaAopEF2/p7
JrSgM9sVLAp9yXpMN81T2YjzyqUIrAEVpQQJByMJcFC1h07Fz4QUooMWCrH//im7
K5EkLQUkp0ScTa3nJdBJogKxOglDTtMQ10Mhn8UZeHWcn6PJzgBSS/oe4EiW8s6J
NCyzZWppHCqd3a/XhpNBEyTzWfFpUthI/+dBArsgwurh8B7XCBOkaCyySJFeFJDt
uIJO1wy3AgMBAAECggEAAK6pWaFDlHWDaDL+Qebm3hKlzOQpw0uhxyf/73GJMbVq
EWKD0ibtahSw6segIQonYqnhgolSrFH/ugpOF++Z0ADCA5R0pATtWCS6jyuWQSeA
fHtTbYZzit963SL/aLuPxoTpCG+J/xwYoU4dlU4VVV65HJkm2ytSqTgJ9XRjxozl
K+GqKzGtF9w3BNbphUK6DbF3d8MwuEUT40Vll53uhXuMiogjkMY/aEjqvZXg7FJk
xYDsWPgmqGgA8VrYluh70GifqGVLp5JhBr0F4CF3/qHL/px1ndOKUFqLCh3DGjfO
xRBz/uJOeYnm40i7RxkW8EX+A6iy03UF2SMOtdALjQKBgQDiFYB/bpOwuX1KYgLh
zGXtMhQBtvhifLryTMAq06TMnAk0pOWjF9VosjS+uwaAn2wwGiXhmlW03XZT3bDW
byXUL20m6FLXP2qYBaCPNP/xQVv5BiIr3NE1pXUiOs7hmftyPgBWhVhQNwrcMuoI
xxtdyf1F1mWNE+xixH1u8IaDLQKBgQDJmlcWfATL/2naQXT8dPtEwrGfXe9+IHBT
617n7lald/bEGdiYjEv4AkvLR78YuSCHWRlbmd8jwumN2hYpxs0zmqSa3Kt3nPE0
bgp4kPkDLyh5Q3cis5NDOQjdNWwxrnUlNldAnO+AUFLo84y9jrx4xIC6NvS6J2zx
PPJpkQRN8wKBgQCUnR3CpqVe3g+F/bd3Ri0aJnkQR34u/17EN796Z3VFKqzCdkKd
WuVl1P7nAXncwu8TD50nF5SPN6S4rFm6G4X6XNKbaMxLwdwH4msQt/4mUJhssaN0
wcqkQQcmYRHtKpMnHaqLNUxALm5tIOrGqltK46QhbDWE7zvMEO2DJ4jEYQKBgHk/
SLcuGVhzIT9xdKFM3b2p9lepkBrj+YqPGUIV9qiHsLKZ9MkyP5JGFz2Hxedhl62v
KXAM58XDOOHmUsQHW2x4yhyVMM68ZdipgcSnNAv1NbtQlvsY0y1vxOP9eDec+7lI
qEsk12ntZR/TMkbi7HkZfW4BFUhL49pmVEinPdZ/AoGBAImVqpTGrMJ5Ef/2dW2U
yN0zOBshrIcVe0sGsIHxslnz9+ZXsxyb8jMxkXv1oZaFE3uECLOcU7N4KADUbWTU
OKSNaeyt0HnNVJ2lmrnGnidvbQfY7tZmczDv/BVgWFG1vYApOx8100O10JWDPvB7
fckkmJztqbXjO7i2LIeAH7Zk
-----END PRIVATE KEY-----"



